PlayerRecommderClient/web/WEB-INF/transfermarkt/done.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="player_infos">
        <xs:complexType >
            <xs:sequence >
                <xs:element name="player_info" type="player_infoType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="current_valueType">
        <xs:sequence>
            <xs:element type="xs:decimal" name="value" default="0"/>
            <xs:element type="xs:string" name="unit" default=""/>
            <xs:element type="xs:string" name="lasted_update" default=""/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="player_infoType">
        <xs:sequence>
            <xs:element type="xs:integer" name="id"/>
            <xs:element type="xs:string" name="transfermarkt_avartar"/>
            <xs:element type="xs:string" name="fbref_avartar"/>
            <xs:element type="xs:string" name="transfermarkt_url"/>
            <xs:element type="xs:string" name="fbref_url"/>
            <xs:element type="xs:string" name="club"/>
            <xs:element type="xs:string" name="nation"/>
            <xs:element type="xs:string" name="place_of_birth"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="birth_date"/>
            <xs:element type="xs:decimal" name="height" default="0"/>
            <xs:element type="xs:string" name="contact_expires"/>
            <xs:element type="current_valueType" name="current_value"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>